{% comment %} 
<div class="container">
<a href = '#'>{{x.name}}<br>
</div>
 <p>My mother has <span style="color:blue">blue</span> eyes.</p> 
{% endfor %} {% endcomment %}


   </div><table class="table table-striped table-hover table-users">
    			<thead>
    				<tr>		
    					<th class="hidden-phone">Name</th>
    					<th>Reg</th>
    					<th>Edu</th>
    					<th>hsc</th>	
    				</tr>
    			</thead>

    			<tbody>
    				{% for x in ex %}
    				<tr>
                        
    					<td>{{x.name}}</td>
    					<td class="hidden-phone">{{x.}}</td>
    					<td class="hidden-phone">active</td>
                        <td >10/12/1999</td>   					
  					
    					<td><a class="btn mini blue-stripe" href="{site_url()}admin/editFront/1">Edit</a></td>
                        <td><a href="#" class="confirm-delete btn mini red-stripe" role="button" data-title="johnny" data-id="1">Delete</a></td>
                    </tr>
                    {% endfor %}
                
	               </tbody>

</table>